* {
    font-family: sans-serif;
}

body {
    margin: 0px;
}

header nav {
    height: 75px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    text-transform: uppercase;
}

header nav p {
    padding-top: 11px;
}


header a {
    text-decoration: none;
    color: white;
}

main {
    text-align: center;
    height: 738px;
}

footer {
    color: white;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

#marca {
    font-style: italic;
}